article img {
    border-radius: 50%;
    object-fit: cover;
}

/*IMG GALLERY CARD*/



.img-container {
    height: 600px;
    width: 500px;
}

.img-box {
    height: 500px;
    width: 500px;


    img, video {
        object-fit: cover;
        height: 500px;
        width: 500px;
        border-radius: 10px;
    }


}

.txt-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;
    font-size: xx-large;

    .likes-wrap:hover {
        cursor: pointer;
    }
}